body {
  background-image: url(./back/58.png);
  color: black;
  border-left: solid 3px #40C0C0;
  border-right: solid 3px #80C0C0;
  padding-left: 15px;
  padding-right: 13px;
}

h1 {
  color            : #000080;
  font-size        : 2em; 
  font-style       : italic;
  text-align       : center; 
  font-weight      : bolder;  
}

h2 {
  font-size        : 1.5em; 
  text-align       : left; 
  font-weight      : bold;
  color            : #408080; 
  background-color : #ececec; 
  margin-right     : 0; 
  padding          : 7px 7px 7px 10px;
  border-color     : #000080;
  border-width     : 2px 0px 2px 0px;
  border-style     : solid;
}

h3 {
  font-size        : 1.2em;
  text-align       : left;
  color            : #009000;
  font-weight      : bold; 
  background-color : #ececec; 
  margin-right     : 0; 
  padding          : 0.25em 0em 0.25em 0.7em;
  border-color     : #009000;
  border-style     : solid;
  border-width     : 1px 0em 0em 10px;}

h4 {
  font-size        : 1.1em;
  font-weight      : bold;
  text-align       : left;
  color            : #800080;
  background-color : #ececec; 
  margin-right     : 0em; 
  padding          : 0.25em 0em 0.25em 0.7em; 
  border-color     : #800080;
  border-style     : solid;
  border-width     : 1px 0em 0em 5px; 
}

blockquote {
  color            : black;
  color: #330000;
  background-color: rgb(95%, 100%, 95%);
  padding:6pt;
  border-style:outset;
  border-color: rgb(50%, 80%, 50%);
  border-width:4pt
}

a.name  {
  text-decoration  : none;
}

A:Hover	{
  background-color : #ffff80;
}

p {
  color            : black;
  text-indent: 1em;
}

p.note {
  text-indent: 0em;
  color            : brown;
  font-size: smaller;
}

dl.menu {
  font-size: 1.5em;
  line-height: 2;
  color: blue;
  text-align: center;
  margin-left: calc(50% - min(45%, 200px));
  margin-right: calc(50% - min(45%, 200px));
  background-color: rgb(90%, 90%, 95%);
  padding:10pt;
  border-style:outset;
  border-color: rgb(50%, 80%, 50%);
  border-width:4pt
}

dl.list {
  color            : black;
  margin-left: 3%;
}

dl.history {
  color            : black;
  text-indent: -8em;
  margin-left: 10em;
}

pre {
  padding: 1em;
  border: 1px solid #000;
  width: auto;
  _width: 90%;
  overflow: auto;
  _overflow: scroll;
  color: #000;
  background-color: #f6f6f6;
}

pre.courier {
  font-family: Courier;
}

strong {
	color: red;
	font-weight: bold;
}

dl dd {
	color : black;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

ul{
    list-style-image: url("icons/green-marble.png")
}

em {
	color: #330000;
}

div.lang-navigator {
  text-align: left;
  font-size: smaller;
}

div.handy-navigator {
  text-align: right;
  font-size: smaller;
}

div.copyright {
  text-align: right;
  font-family: helvetica, sans-serif;
  font-size: smaller;
  color: rgb(40%,40%,40%)
}

div.footer {
  text-align: right; 
  font-family: helvetica, sans-serif;
  font-size: smaller;
  color: rgb(40%,40%,40%)
}

div.title {
  color: green;
  font-size: 1.2em;
}

table {
  font-size: inherit;
}

table tr td.n {
	text-align: center;
	background-color : #eef;
}

table tr td.d {
	text-align: left;
}

table tr td.h {
	text-align: center;
	background-color : #cfc;
}

table tr td.t {
	text-align: center;
	background-color : brown;
}

img.one {
  width: min(80%, 400px);
  height: auto;
  margin:auto;
  display: block
}

% http://coliss.com/articles/build-websites/operation/css/444.html

a[href^="http://"]{
  background:transparent url(/icons/external.gif) center rightright no-repeat;
  display:inline-block;
  padding-right:15px;
}

